.input{
    margin-right: 190px;
    /* margin:3px; */
    font-family: 'Anton', sans-serif;
}

.texto{
    border-radius: 19px;
    width:300px;
    height:30px;
    background:transparent;
    text-align:center;
    box-shadow: 0 5px 20px
    rgba(13, 5, 238, 0.2);

}

.caja1{
    border-radius: 19px;
    margin-left: 5px;
    /* height:30px; */
    background:transparent;
    text-align:center; 
    
}



.in ul{
    margin-bottom:1px;
    width: 500px;
    margin-top:-30px;
    margin-bottom:0px;
}

.in li{
    list-style: none;
    padding:5px;
    display: flex;
    list-style: none;
    justify-content:center;
    margin: 10px;
}

.but{
    border-radius:7px;
    max-width:200px;
    height:30px;
    background-color:rgb(160, 202, 216);
    cursor: pointer;
}
.buton{
    border-radius:7px;
    max-width:200px;
    height:40px;
    background-color:rgb(160, 202, 216);
    cursor: pointer;
}
.b{
    border-radius:7px;
    /* max-width:500px; */
    height:40px;
    background-color:rgb(160, 202, 216);
    cursor: pointer;
}